<% if @robot_page.success %>
  <div class="robotBase flex vh-100">
    <div class="robotLeft ba b--red pa1 w-20">CLM-06 (LEFT)
      <div class="robotLoginWidget pa2 mb2 ba b--navy">
        Login widget (Group or individual)
        <div class="flex flex-wrap">
<%#= initials_avatar('Jack', 'Johnson') %>
<%#= initials_avatar('Miles', 'Davis') %>
<%#= initials_avatar('Ar', 'Rr') %>
<div>
  <%= initials_avatar('A', 'A') %>
  <div>
    Arthur Andersen
  </div>
</div>
<div>
  <%= initials_avatar('B', 'A') %>
  <div>
    Brian Andersen
  </div>
</div>
<div>
  <%= initials_avatar('C', 'A') %>
  <div>
    Carl Andersen
  </div>
</div>
<div>
  <%= initials_avatar('D', 'A') %>
  <div>
    Don Andersen
  </div>
</div>
<div>
  <%= initials_avatar('E', 'A') %>
  <div>
    Eric Andersen
  </div>
</div>
<div>
  <%= initials_avatar('F', 'A') %>
  <div>
    Fred Andersen
  </div>
</div>
<div>
  <%= initials_avatar('G', 'A') %>
  <div>
    Garth Andersen
  </div>
</div>
<div>
  <%= initials_avatar('H', 'A') %>
  <div>
    Harry Andersen
  </div>
</div>
<div>
  <%= initials_avatar('I', 'A') %>
  <div>
    Ian Andersen
  </div>
</div>
<div>
  <%= initials_avatar('J', 'A') %>
  <div>
    John Andersen
  </div>
</div>
<div>
  <%= initials_avatar('K', 'A') %>
  <div>
    Kevin Andersen
  </div>
</div>
<%#= initials_avatar('First only', nil) %>
        </div>
        <div>Name(s) and group name if applicable</div>
      </div>
      <div class="robotStatsWidget pa2 ba b--yellw">
        Stats widget
      </div>
    </div>
    <div class="robotRight ba b--green flex-auto pa1">RIGHT
      <div class="pa2 mb2 ba b--orange h-10"><p>Optional scale widget</p></div>
      <!--
        Adjust dimensions based on no of buttons. (2 :: h-90, w-40) (4 :: h-40, w-40) (6 :: h-30, w-40) (1 :: h-90, w-90)
        Also change the relative text size...
      -->
      <div class="pa2 mb2 ba b--pink flex flex-wrap h-50">
        <% @robot_page.instance[:buttons].each do |btn| %>
          <button id="button_<%= btn[:plant_resource_id] %>" data-button-action-url="<%= btn[:url] %>" class="br3 pa3 f1 tc ml5 mt2 mb2 w-40 h-40"><span><%= btn[:system_name] %></span></button>
        <% end %>
      </div>
      <div class="pa2 mb2 ba b--gray h-20">
        Printlog widget
        <p>
        <%= @robot_page.instance.inspect %>
        </p>
        <p>
        <%= @robot_page.instance[:buttons].map(&:to_h).inspect.gsub('},', '},<br>') %>
        </p>
      </div>
      <div class="pa2 ba b--purple h20"><p>Websocket widget</p></div>
    </div>
  </div>
<% else %>
  <h2>Unable to initialise robot: <%= @robot_page.message %></h2>
<% end %>
