<% if @robot_page.success %>
  <div class="robotBase flex vh-100">
    <div class="robotLeft ba b--red pa1 w-20"><%= @robot_page.instance[:device] %> (LEFT)
      <div class="robotLoginWidget pa2 mb2 h-50 ba b--navy">
        <div id="robotLoginWidget" class="flex flex-wrap">
        </div>
      </div>
      <div class="robotStatsWidget pa2 h-25 ba b--yellw">
        Stats widget
      </div>
    </div>
    <div class="robotRight ba b--green flex-auto pa1">RIGHT
      <div class="pa2 mb2 ba b--orange h-10"><p>Optional scale widget</p></div>
      <!--
        Adjust dimensions based on no of buttons. (2 :: h-90, w-40) (4 :: h-40, w-40) (6 :: h-30, w-40) (1 :: h-90, w-90)
        Also change the relative text size...
      -->
      <div class="pa2 mb2 ba b--pink flex flex-wrap h-50">
        <% button_colours = %w[#f2b736 #c5523f #499255 #1875e5 #E7040F #FF4136 #5E2CA5 #D5008F #001B44 #137752 #19A974] %>
        <% @robot_page.instance[:buttons].each_with_index do |btn, index| %>
          <% btn_class = btn[:enabled] ? 'br3 pa3 dim f2 tl ml5 mt2 mb2 w-40 h-40' : 'br3 pa3 f2 tl ml5 mt2 mb2 w-40 h-40' %>
          <% btn_style = btn[:enabled] ? "style=\"background-color:#{button_colours[index]}\"" : '' %>
          <% btn_enabled = btn[:enabled] ? '' : 'disabled="true"' %>
          <button id="button_<%= btn[:plant_resource_id] %>" data-button-action-url="<%= btn[:url] %>" class="<%= btn_class%>" <%= btn_style %> <%= btn_enabled %>><span><%= (index + 65).chr %></span><br><%= btn[:button_caption] %></button>
        <% end %>
      </div>
      <div class="pa2 mb2 ba b--gray h-20">
        Printlog widget
        <p>
        <%= @robot_page.instance.inspect %>
        </p>
        <p>
        <%= @robot_page.instance[:buttons].map(&:to_h).inspect.gsub('},', '},<br>') %>
        </p>
      </div>
      <div class="pa2 ba b--purple h20">
        <div id="txtShow" class="navy bg-light-blue pa2"></div>
      </div>
    </div>
  </div>
<% else %>
  <h2>Unable to initialise robot: <%= @robot_page.message %></h2>
<% end %>
